
/* GENERAL */
.form_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 3em 0;
    height: 36em;
    color: white;
}

.main_field {
    margin: 0 15em;
    height: 37em;
    border-radius: 1em;
    border: none;
    background-color: rgba(40, 100, 97,.9);
}
legend {
    display: none;
}
input, textarea {
    border: 1px solid green;
    border-radius: 1em;
    background-color: rgba(151,230,132,.3);
    color: white;
}

/* USER CONFIG */
.user_info {
    width: 80%;
    margin: 0 auto;
    padding: 2.0em;
    letter-spacing: 0.2em;
}
.user_info label {
    display: block;
    text-align: left;
    margin-left: 1em;
    margin-top: 0.7em;
    font-family: 'Cinzel Decorative', cursive;
}
.user_info input {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
}

/* CHECKBOX */
.checkbox_container {
    width: 80%;
    margin: 0 auto;
}

.check_field {
    position: relative;
    padding: 0.5em 0.5em 1.4em 0.5em;
    border-radius: 1em;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    border: none;
    background-color: rgba(151,230,132,.3);
    font-family: 'Cinzel Decorative', cursive;
}
.check_field p {
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.check_yes_container {
    float: left;
    margin-left: 1.7em;
    font-size: 0.8em;
}
.check_no_container {
    float: right;
    margin-right: 1.7em;
    font-size: 0.8em;
}

/* TEXTAREA */
.textarea_container {
    width: 80%;
    margin: 0 auto;
}
.textarea_container label {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    letter-spacing: 0.1em;
    font-family: 'Cinzel Decorative', cursive;
}
.textarea_container textarea {
    width: 97.5%;
    height: 6.6em;
    padding: 0.5em;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    border: none;
}

/* BUTTON */
.button_container {
    margin: 1em 0 0 0;
}
.form_button {
    padding: 0.7em 2em;
    width: 15%;
    margin-left: 42%;
    background: transparent;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    border-radius: 1em;
    font-size: 1em;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}
.form_button:hover {
    background-color: rgba(151,230,132,.7);
    color: rgba(40, 100, 97,.9);
    cursor: pointer;
}
